@page "/properties/financials"
@inject NavigationManager Navigation

<TelerikCard ThemeColor="@ThemeConstants.Card.ThemeColor.Light" Width="100%">
    <CardBody>
        <TelerikStackLayout Orientation="@StackLayoutOrientation.Vertical" Spacing="12px">
            <p>Financials moved to Property Details.</p>
            <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"
                           Icon="@Telerik.SvgIcons.SvgIcon.ArrowRight"
                           OnClick="@GoToFinancialsTab">
                Open Property Details Financials
            </TelerikButton>
        </TelerikStackLayout>
    </CardBody>
</TelerikCard>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GoToFinancialsTab();
        }
    }

    private void GoToFinancialsTab()
    {
        Navigation.NavigateTo("/property-details?tab=Financials", replace: true);
    }
}
